@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.header-breadcrumb{
    margin-top: 80px;
    height: 50px;
}
.select-mont{
    border-radius: 5px;
    margin-bottom: 20px;
    border-color: orange;
    text-decoration: none;
}

.btn-downline{
    box-shadow:         1px 2px 2px 1px #ccc;
    color: #fff !important;
}

.ml1{
    margin-left: 83px;
}
.ml2{
    margin-left: 55px;
}
.ml3{
    margin-left: 60px;
}
.header-table{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,12,195,0.8715861344537815) 45%, rgba(0,212,255,1) 100%);
    color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card-member{
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
} 

.notification{
    width: 40px !important;
    height: 40px;
}
.notif{
    color: #fff;
    text-align: center;
    padding: 9px;
}

.card-reward{
    border-radius: 8px !important;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.image-reward{
    width: 140px;
    height: 140px;
    padding-top: 15px;
}

@media only screen and (min-width: 992px) {
    .select-mont{
        width: 500px;
        text-align: center;
        margin-left: 300px;
    }
}
/* End : Styling Sales and Bonus */


/* Start : Styling Transactiuon-history */
.sidebar{
    background-color:#fff;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.title-sidebar{
    color: #5bc0de;
}

.table-history{
    margin-top: 20px;
}
th{
    font-size: 14px;
}
td{
    font-size: 12px;
}
 /* End: Styling Transaction History */


 /* START: Styling Profile page */
.card-profile{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
<<<<<<< HEAD
=======

.container-info-member{
    min-width: 130px;
}
/* .user-icon{
    margin-left: 100px;
} */
>>>>>>> 224f2ac55df96837fc57753b9ba7571e5672bdff
 /* END: Styling Profile Pages */

 
 /* START: Styling Orders Page */
 .margin-order{
     margin-top: 90px;
 }
 .button-checkout{
     margin-top: 40px   ;
 }
 .quantity{
     width: 40px;
 }